@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'noah';
    src: url('../fonts/noah.woff2') format('woff2'),
         url('../fonts/noah.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }